.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
}

.root strong {
    margin-right: 10px;;
    font-weight: 500;
}
