.root {
    position: relative;
    z-index: 10;
    display: flex;
    margin: 0 auto;
    max-width: 1090px;
    width: 100%;
}

.root--sp {
    justify-content: space-between;
}

.root--wrap {
    flex-wrap: wrap;
}