.root {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.root__info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
}

.root .root__toggle {
    opacity: 0;
}

.root:hover .root__toggle {
    opacity: 1;
}