.root {
    padding: 22px 30px;
    width: 100%;
    border: 0;
    border-radius: 3px;
    background: #232323;
    color: #555;
    font-size: 18px;
    outline: none;

    -webkit-appearance: none;
            appearance: none;
}

.root::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #555;
}

.root:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #555;
}

.root::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #555;
}
.root:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #555;
}
