.root {
    padding: 10px 15px;
    width: 100%;
    outline: none;
    border: 0;
    border-radius: 3px;
    background: #2e2e2e;
    color: var(--portal-white);
    font-size: 18px;

    -webkit-appearance: none;
    appearance: none;
}

.root--error {
    border: 1px solid var(--portal-red-color);
}

.root::-webkit-input-placeholder {
    /* WebKit browsers */
    color: var(--portal-grey-ligher);
}

.root:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: var(--portal-grey-ligher);
}

.root::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: var(--portal-grey-ligher);
}

.root:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: var(--portal-grey-ligher);
}
