.root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;
    height: 90px;
    background: var(--portal-grey);
    color: var(--portal-white);
}
