.root {
    display: grid;
    padding-bottom: 50px;
    width: 100%;

    grid-template-columns: repeat(3, 1fr);
    gap: 30px 50px;
    grid-template-areas: '. . .'
    '. . .'
    '. . .';
}

.root__404 {
    grid-row: 2  / 4;
    grid-column: 1 / 4;
    margin-bottom: 40px;
    color: var(--portal-white);
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
}